*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li{

    list-style-type: none;
}

.table-wrapper{

    background-color: #2980b9;
    width: 50%;
    margin: 100px auto;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.input {
    padding: 20px;
    margin: 15px;
    font-size: 25px;
    font-family: cursive;
    outline: none;
}

.table_inputs button{

    padding: 20px;
    margin: 15px;
    font-size: 25px;
    font-family: cursive;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

.result{

    color: rgb(0, 0, 0);
    background-color: #ffffff;
    height: 200px;
    font-size: 25px;
    font-family: cursive;
    overflow-y: scroll;
}